@import '../variables.scss';

.header-container {
    width: 100%;
    height: 8vh;
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
    // opacity: 0.93;
}

.nav-mobile-links {
    display: none;
}

.header-context-container {
    width: 128rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 160px;
    height: 40px;
}

.logo {
    cursor: pointer;
}

.menuToogle {
    display: none;
}

.header-navigation {
    display: flex;
}

.header-links,
.theme-icon {
    align-items: center;
    display: flex;
}

.header-links ul li,
.authorization-buttons ul li {
    display: inline-block;
}

.nav-link {
    color: $white-color;
    margin-right: 5rem;
    transition: 0.2s ease;
    font-weight: 400;
    font-size: 2rem;
}

.nav-link:hover {
    color: $blue-color;
    border-bottom: 2px solid $blue-color;
    padding-bottom: 1rem;
}

.nav-link.active {
    color: $blue-color;
    border-bottom: 2px solid $blue-color;
    padding-bottom: 1rem;
}

.authorization-buttons {
    font-weight: bold;
    right: 0;
}

.login-link {
    color: $blue-color;
    font-size: 2rem;
    padding: 0.7rem;
    border: 1px solid $blue-color;
    padding: 0.7rem 4.7rem;
    margin-right: 2rem;
    border-radius: 1rem;
    transition: 0.5s ease;
    box-shadow: $border-shadow;
}

.login-link:hover,
.login-link.active {
    color: white;
    background-color: $blue-color;
    box-shadow: 0 0 2rem $blue-color;
}

.register-link {
    color: white;
    font-size: 2rem;
    background: $gradient;
    padding: 0.8rem 3.8rem;
    border-radius: 1rem;
    box-shadow: $border-shadow;
    background-size: 200%;
    transition: 0.5s;
}

.register-link:hover,
.register-link.active {
    background-position: right;
}

.go3974562317 {
    color: white;
    font-size: 2rem;
    background: $gradient;
    padding: 0.8rem 3.8rem;
    border-radius: 1rem;
    box-shadow: $border-shadow;
    background-size: 200%;
    transition: 0.5s;
}

.go3974562317:hover,
.go3974562317.active {
    background-position: right;
}

.go1392445990 {
    background-color: #0e0f31;
}


@media only screen and (max-width: 678px) {
    .header-container {
        width: 100vw;
        height: 8vh;
        background-color: $bg-color;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 999;
    }

    .header-context-container {
        width: 100%;
    }

    .logo {
        padding: 0 2rem;
    }

    .logo img {
        width: 100%;
        height: 100%;
    }

    .header-navigation {
        display: none;
    }




    .menuToogle {
        display: block;
        color: $white-color;
        width: 5rem;
        height: 5rem;
        margin-right: 2rem;
    }

    .menuToogle svg {
        width: 100%;
        height: 100%;
    }

    .nav-mobile-links {
        display: block;
        background-color: $white-color;
        background-color: $bg-color;
        border: 1px solid $blue-color;
        box-shadow: 0 0 5px $blue-color;
        position: absolute;
        width: 50%;
        right: 2%;
        margin-top: 60%;
        z-index: 999;

    }

    .nav-mobile-links ul li {
        // padding: 3rem 5rem;
        // text-align: end;
        display: flex;

    }

    .nav-mobile-links ul li a {

        padding: 3rem 5rem;
        width: 100%;
        height: 100%;

    }
}