@import '../variables.scss';

.section1-container {
    background-color: $bg-color;
    color: $white-color;
    width: 100%;
    // height: 92vh;
    display: flex;
    justify-content: center;
    padding: 7rem 0;
}

.section1-content-container {
    width: 128rem;
}

.part-with-exchange {
    display: flex;
}


.main-text h1 {
    background: $gradient;
    width: 78rem;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
    font-size: 6rem;
    margin-top: 8rem;
}

.main-text p {
    width: 71rem;
    color: $light-blue;
    font-size: 2rem;
    margin: 3rem 0;
}


.exchange-menu {
    width: 72rem;
    height: 28rem;
    background-color: $dark-purple;
    padding: 3rem;
    border: $border;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.choice-of-cryptocurrencies {
    display: flex;
    justify-content: space-between;
}

.sell-part {
    width: 48%;
}

.sell-part h3,
.buy-part h3 {
    margin-bottom: 2rem;
    font-weight: 400;
}

.sell-choose-container,
.buy-choose-container {
    width: 32.5rem;
    height: 7rem;
    border: $border;
    border-radius: 1rem;
    display: flex;
    position: relative;
}

.sell-choose-container.active,
.buy-choose-container.active {
    border-radius: 1rem 1rem 0 0;
}

.list-buy-container {
    background-color: $dark-purple;
    width: 32.5rem;
    // height: 35rem;
    position: absolute;
    top: 6.8rem;
    border: 1px solid $white-color;
    border-radius: 0 0 1rem 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 500;
    left: -1px;
}



.list-buy-coin {
    width: 100%;
    height: 7rem;
    background-color: $dark-purple;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.list-buy-min-amount {
    position: absolute;
    right: 1rem;
}

.list-buy-coin img {
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
}


.sell-coin,
.buy-coin {
    width: 16.25rem;
    height: 7rem;
    position: relative;
    display: flex;
}

.current-buy-coin {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.current-buy-coin img {
    width: 4rem;
    height: 4rem;
}

.open-buy-list {
    width: 2rem;
    height: 2rem;
}

.choice-of-cryptocurrencies svg {
    cursor: pointer;
}

.current-buy-amount {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 1rem;
}

.current-buy-amount input {
    width: 100%;
    height: 50%;
    border: 0;
    background-color: transparent;
    outline: none;
    color: $white-color;
    font-size: 1.8rem;
    text-align: end;
    margin-right: 1rem;
}

.current-buy-amount input::placeholder {
    color: $white-color;
}





.sell-amount,
.buy-amount {
    width: 16.25rem;
    height: 6.8rem;
    border-left: $border;
    display: flex;
}



.buy-part {
    width: 48%;
}






.exchange-button {
    width: 60%;
    color: white;
    font-size: 2rem;
    background: $gradient;
    padding: 2.1rem 5.5rem;
    border-radius: 1rem;
    box-shadow: $border-shadow;
    background-size: 200%;
    transition: 0.5s;
    border: none;
    cursor: pointer;
}




.exchange-button:hover {
    background-position: right;
}


.bg-main-img {
    width: 50rem;
    height: 74rem;
}


.current-coin-container {
    display: flex;
    justify-content: space-between;
}

.current-coin-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    gap: 1rem;
    width: 22rem;
    height: 6rem;
    background-color: $dark-purple;
    border: $border-coin-info;
}

.current-coin-info img {
    width: 4rem;
    height: 4rem;
}

.error-message {
    position: absolute;
    bottom: -40%;
    color: $red-color;
    font-size: 1.5rem;
}


@media only screen and (max-width: 678px) {
    .section1-content-container {
        width: 90%;
    }

    // .part-with-exchange div {
    //     width: 100%;
    // }

    .current-coin-container {

        align-items: center;
        gap: 5%;
        margin-top: 4rem;
        flex-wrap: wrap;
    }

    .choice-of-cryptocurrencies {
        gap: 3%;
    }

    .current-coin-info {
        width: 20rem;
        margin-bottom: 2rem;
    }

    .current-coin-container {
        justify-content: start;
    }

    .main-text h1 {
        width: 100%;
    }

    .main-text p {
        width: 100%;
    }

    .exchange-menu {
        width: 100%;
    }

    .image-mobile-container {
        display: none;
    }

}