@import '../variables.scss';

.sing-up-field {
    width: 60rem;
    height: 64rem;
    box-shadow: 0 0 50px $blue-color;
    border-radius: 3rem;
    border: 3px solid $blue-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}


#btc-bg { 
    width: 21rem;
    height: 22rem;
    position: absolute;
    bottom: -10rem;
    left: -15rem;
}
#tz-bg { 
    width: 41rem;
    height: 46rem;
    position: absolute;
    right: -30rem;
}
#doge-bg { 
    width: 26rem;
    height: 23rem;
    position: absolute;
    top: -10rem;
    left: -15rem;
}


.sing-up-title {
    color: $white-color;
    font-weight: 400;
    font-size: 2.8rem;
    margin-top: 4rem;
}

.input-field {
    margin-top: 7rem;
    width: 40rem;
    height: 5rem;
    background-color: $bg-color;
    border: none;
    border-bottom: 2px solid $white-color;
    color: $white-color;
    font-size: 1.8rem;
}

.input-field:focus {
    outline: none;
}

.input-field::placeholder {
    color: $white-color;
    font-size: 1.8rem;
    font-weight: 400;
}

.submit-button {
    cursor: pointer;
    margin-top: 5rem;
    width: 40rem;
    height: 7rem;
    background-color: $bg-color;
    border: 3px solid $blue-color;
    color: $blue-color;
    font-size: 3.2rem;
    box-shadow: 0 0 2rem $blue-color;
    border-radius: 1rem;
    transition: 0.5s ease;
}

.submit-button:hover {
    background-color: $blue-color;
    color: white;
    box-shadow: 0 0 5rem $blue-color;
}

.login-content {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.login-content p {
    color: $light-blue;
    font-size: 2rem;
}

.login-content a {
    color: $white-color;
    font-size: 2rem;
}

.login-content a:hover {
    color: $light-blue;
}
