@import '../variables.scss';


.sing-in-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
    flex-direction: column;
}

.sing-in-field {
    width: 60rem;
    height: 64rem;
    box-shadow: 0 0 50px $blue-color;
    border-radius: 3rem;
    border: 3px solid $blue-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}


#btc-bg { 
    width: 21rem;
    height: 22rem;
    position: absolute;
    bottom: -10rem;
    left: -15rem;
    
}
#tz-bg { 
    width: 41rem;
    height: 46rem;
    position: absolute;
    right: -30rem;
}
#doge-bg { 
    width: 26rem;
    height: 23rem;
    position: absolute;
    top: -10rem;
    left: -15rem;
}


.sing-in-title {
    color: $white-color;
    font-weight: 400;
    font-size: 2.8rem;
    margin-bottom: 10rem;
}


.submit-button-login {
    cursor: pointer;
    margin-top: 10rem;
    width: 40rem;
    height: 7rem;
    background-color: $bg-color;
    border: 3px solid $blue-color;
    color: $blue-color;
    font-size: 3.2rem;
    box-shadow: 0 0 2rem $blue-color;
    border-radius: 1rem;
    transition: 0.5s ease;
}

.error-login {
    color: $red-color;
    font-size: 2rem;
}

.login-message {
    color: $green-color;
    font-size: 2rem;
}

.submit-button-login:hover {
    background-color: $blue-color;
    color: white;
    box-shadow: 0 0 5rem $blue-color;
}

.signUp-content {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.signUp-content p {
    color: $light-blue;
    margin: 0;
    font-size: 2rem;
}

.signUp-content a {
    color: $white-color;
    font-size: 2rem;
}

.signUp-content a:hover {
    color: $light-blue;
}

.inputBox {
    position: relative;
    width: 40rem;
    margin-top: 6rem;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $white-color;
    outline: none;
    font-size: 2rem;
    color: white;
    transition: 0.5s ease;
}

.inputBox label {
    position: absolute;
    left: 0;
    color: white;
    padding: 1rem 0;
    font-size: 2rem;
    pointer-events: none;
    transition: 0.5s ease;
}




.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
    color: $blue-color;
    transform: translateY(-25px);
}

.inputBox input:focus,
.inputBox input:valid {
    border-bottom: 2px solid $blue-color;
}
