@import '../variables.scss';
 

.account-container {
    width: 100%;
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    padding: 18rem 0;

}

.account-content-container {
    width: 128rem;
    height: 100%;
    color: $white-color;
}

.title-account {
    text-align: center;
}

.discount-content {
    text-align: center;
    color: $light-blue;
}
