@import '../variables.scss';

.exchange-container {
    width: 100%;
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    padding: 8rem 0;
    color: $white-color;
    padding: 13rem 0;

}

.exchange-content-container {
    width: 128rem;
    height: 100%;
    color: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exchange-field {
    width: 60rem;
    // height: 64rem;
    box-shadow: $border-shadow;
    border-radius: 3rem;
    border: 1px solid $blue-color;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5rem 3rem;

    form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.logo-exhange-crypto {
    width: 4rem;
    height: 4rem;
}


.color-span {
    color: $light-blue;
}

.confirm-transaction-button {
    color: white;
    cursor: pointer;
    font-size: 3rem;
    border: 0;
    background: $gradient;
    padding: 0.8rem 3.8rem;
    border-radius: 1rem;
    box-shadow: $border-shadow;
    background-size: 200%;
    transition: 0.5s;
}



.confirm-transaction-button:hover {
    background-position: right;
}

.exchange-error {
    color: $red-color;
    position: absolute;
    bottom: 5%;
}

@media only screen and (max-width: 678px) {
    .exchange-container {
        padding: 30rem 0;
    }
}