$bg-color: #03002B;
$font-size: 16px;
$rem-to-px: 10px;
$blue-color: #0D3BD1;
$white-color: #FFFFFF;
$black-color: #000000;
$transparent: transparent;
$gradient: linear-gradient( to left, #0D3BD1, #0DA9D1, #0D3BD1);
$light-blue: #96CBFF;
$dark-purple: #1C1E62;
$red-color: #FF4D4D;
$green-color: #6CCF59;
$gray-color: #777777;
$footer-color: #02001F;
