$bg-color: var(--bg-color);
$font-size: 16px;
$rem-to-px: 10px;
$blue-color: var(--blue-color);
$white-color: var(--white-color);
$black-color: var(--black-color);
$transparent: transparent;
$gradient: var(--gradient);
$light-blue: var(--light-blue);
$dark-purple: var(--dark-purple);
$red-color: var(--red-color);
$green-color: var(--green-color);
$gray-color: var(--gray-color);
$footer-color: var(--footer-color);
$border-shadow: var(--border-shadow);
$border: var(--border);